In [1]:
import pandas as pd

### Get list of business ids that correspond to restaurants with >100 reviews

In [2]:
# load businesses json file
# read file into array
with open('yelp_academic_dataset_business.json', 'rb') as f:
    data = f.readlines()
# remove "\n"s
data = map(lambda x: x.rstrip(), data)
# convert to json string
data_json_str = "[" + ','.join(data) + "]"
# load as pandas df
business = pd.read_json(data_json_str)

In [3]:
business.head(3)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,{u'By Appointment Only': True},vcNAWiLM4dR7D2nwwJ7nCA,"[Doctors, Health & Medical]",Phoenix,"4840 E Indian School Rd\nSte 101\nPhoenix, AZ ...","{u'Thursday': {u'close': u'17:00', u'open': u'...",33.499313,-111.983758,"Eric Goldberg, MD",[],True,9,3.5,AZ,business
1,"{u'Happy Hour': True, u'Accepts Credit Cards':...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350519,-79.886930,Clancy's Pub,[],True,4,3.5,PA,business
2,{u'Good for Kids': True},cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",Bethel Park,"1530 Hamilton Rd\nBethel Park, PA 15234",{},40.356896,-80.015910,Cool Springs Golf Center,[],False,5,2.5,PA,business

In [4]:
# select businesses that have 'Restaurants' in their category and have >100 reviews
restaurant_index = []
for i in range(0,len(business)):
    if 'Restaurants' in business.categories[i] and business.review_count[i] > 100 : 
              restaurant_index.append(i)
business_restaurant = business.iloc[restaurant_index]

In [5]:
business_restaurant.head(3)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
136,"{u'Alcohol': u'full_bar', u'Noise Level': u'av...",2SwC8wqpZC4B9iFVTgYT9A,"[Wine Bars, Bars, Mediterranean, Nightlife, Re...",Pittsburgh,"229 S Highland Ave\nShadyside\nPittsburgh, PA ...","{u'Monday': {u'close': u'22:00', u'open': u'11...",40.458138,-79.924797,Casbah,[Shadyside],True,199,4,PA,business
137,"{u'Take-out': True, u'Accepts Credit Cards': T...",PzG0XmAmtXFs6Fdnubf41g,"[Food, Coffee & Tea, Vegetarian, Restaurants]",Pittsburgh,"5430 Penn Ave\nBloomfield\nPittsburgh, PA 15206","{u'Monday': {u'close': u'17:00', u'open': u'08...",40.464485,-79.935388,Quiet Storm Vegetarian & Vegan Cafe,[Bloomfield],False,143,4,PA,business
166,"{u'Alcohol': u'full_bar', u'Noise Level': u'av...",IxQ1ATP_Wg_QujO9nywzcQ,"[German, Pubs, Bars, Nightlife, Restaurants]",Pittsburgh,"537 Suismon St\nNorth Side\nPittsburgh, PA 15212","{u'Monday': {u'close': u'22:00', u'open': u'11...",40.455167,-79.999815,Max's Allegheny Tavern,[North Side],True,110,4,PA,business

In [6]:
# total number of restaurants, mean number of reviews per restaurant, total number of reviews
len(business_restaurant),business_restaurant['review_count'].mean(), business_restaurant['review_count'].sum()

(2612, 249.32924961715162, 651248)

In [7]:
# create df of restaurant business ids
busid = pd.DataFrame(business_restaurant['business_id'])

In [8]:
busid.head(3)

                business_id
136  2SwC8wqpZC4B9iFVTgYT9A
137  PzG0XmAmtXFs6Fdnubf41g
166  IxQ1ATP_Wg_QujO9nywzcQ

### Get list of  reviews for restaurants with >=100 reviews

In [9]:
# load reviews json file
with open('yelp_academic_dataset_review.json', 'rb') as f:
    data = f.readlines()
data = map(lambda x: x.rstrip(), data)
data_json_str = "[" + ','.join(data) + "]"

In [10]:
# json file is too big (kernel will die attempting to load the full file)
# split it into two segments and load each as pandas df
# this step takes a while to run
data_json_str_1 = data_json_str[0:713180745]
data_json_str_1 = data_json_str_1 + "]"
review = pd.read_json(data_json_str_1)

data_json_str_2 = data_json_str[713180746:]
data_json_str_2 = "[" + data_json_str_2
review2 = pd.read_json(data_json_str_2)

In [11]:
review.head(3)

,business_id,date,review_id,stars,text,type,user_id,votes
0,vcNAWiLM4dR7D2nwwJ7nCA,2007-05-17,15SdjuK7DmYqUAj6rjGowg,5,dr. goldberg offers everything i look for in a...,review,Xqd0DzHaiyRqVH3WRG7hzg,"{u'funny': 0, u'useful': 2, u'cool': 1}"
1,vcNAWiLM4dR7D2nwwJ7nCA,2010-03-22,RF6UnRTtG7tWMcrO2GEoAg,2,"Unfortunately, the frustration of being Dr. Go...",review,H1kH6QZV7Le4zqTRNxoZow,"{u'funny': 0, u'useful': 2, u'cool': 0}"
2,vcNAWiLM4dR7D2nwwJ7nCA,2012-02-14,-TsVN230RCkLYKBeLsuz7A,4,Dr. Goldberg has been my doctor for years and ...,review,zvJCcrpm2yOZrxKffwGQLA,"{u'funny': 0, u'useful': 1, u'cool': 1}"

In [12]:
review.tail(3)

,business_id,date,review_id,stars,text,type,user_id,votes
783966,3-wjIKCaFP1vt_SllQz-8Q,2010-06-29,iiFZdNCNyiyGfG-DjuVapg,4,I'm glad the intoxicating sweet aroma of crepe...,review,MC1WsHPEfhfu9mGwK4VXDA,"{u'funny': 0, u'useful': 0, u'cool': 0}"
783967,3-wjIKCaFP1vt_SllQz-8Q,2010-09-19,sOjj_2YxSZ1SjGtzuIUGZw,1,We waited and waited and waited to be served.....,review,8VebNTOaFYabe-eHyylOLQ,"{u'funny': 0, u'useful': 1, u'cool': 0}"
783968,3-wjIKCaFP1vt_SllQz-8Q,2011-04-01,xS1y6FKNVZALkGc4FzLW-w,1,Their service here really is abysmal. I droppe...,review,bIQM5V625Tb_qnUdN-h-mQ,"{u'funny': 0, u'useful': 0, u'cool': 0}"

In [13]:
review2.head(3)

,business_id,date,review_id,stars,text,type,user_id,votes
0,7urQrSzJ70zKeVnrbRgGKQ,2011-04-22,9i0buGP1OERTtiH-javEgw,1,I am very sorry to write a bad review of this ...,review,3fro9yPEszxCZzbwNplr1w,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1,7urQrSzJ70zKeVnrbRgGKQ,2011-06-01,MmHedrmN0iHJJzsvox2U7g,2,"on our first night in montreal, we were lookin...",review,er8rJl90t28AumG2gpjeow,"{u'funny': 0, u'useful': 0, u'cool': 0}"
2,7urQrSzJ70zKeVnrbRgGKQ,2012-07-08,H6UvG1ED16j9OqcOcjRxIw,3,I had BBQ pork and BBQ spare ribs over rice......,review,dxEDclAzRBeukerPgzkTcQ,"{u'funny': 0, u'useful': 0, u'cool': 0}"

In [14]:
# total number of reviews in each segment
len(review), len(review2)

(783969, 785295)

In [15]:
# extract retaurant reviews only
review_restaurant_1 = pd.merge(busid,review,how='inner',on='business_id')
review_restaurant_2 = pd.merge(busid,review2,how='inner',on='business_id')

In [16]:
# number of restaurant reviews in each segment
len(review_restaurant_1), len(review_restaurant_2)

(326874, 270327)

In [17]:
# number of restaurants in each segment
# sanity check: 1,376 + 1,236 = 2,612
len(review_restaurant_1.business_id.unique()), len(review_restaurant_2.business_id.unique())

(1376, 1236)

In [18]:
review_restaurant_1.head(3)

,business_id,date,review_id,stars,text,type,user_id,votes
0,2SwC8wqpZC4B9iFVTgYT9A,2007-04-25,RWU0-370PJUlEzz5AX_u4w,4,Great stuff here...The cheese plates are great...,review,kdljP-HPIz1SMPZ2-B3NHA,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1,2SwC8wqpZC4B9iFVTgYT9A,2007-07-16,8rMME0OWVJQ2FeeHG7wUfQ,4,This place used to have a great bar/tapas menu...,review,UzqOYLCssQS2FBcDq5HwkA,"{u'funny': 0, u'useful': 1, u'cool': 0}"
2,2SwC8wqpZC4B9iFVTgYT9A,2008-06-24,oulyefOGLSaeYDwwWSuZZg,4,Well it's official Shadyside is becoming my ne...,review,TckShYnQa0eD3WQxdoE3GQ,"{u'funny': 0, u'useful': 1, u'cool': 0}"

In [19]:
review_restaurant_2.head(3)

,business_id,date,review_id,stars,text,type,user_id,votes
0,3StNFdnfDPYWYsMZyvGFpA,2008-08-06,2JLwObrbCqS9geaQW3811Q,4,"After a cold hike around Old Montreal, we stop...",review,92j9xiUMOsM3HviIGoR8Yg,"{u'funny': 1, u'useful': 1, u'cool': 1}"
1,3StNFdnfDPYWYsMZyvGFpA,2008-08-26,y2WimmzVZcnvN3zftrzLOQ,4,Housed in a small three story building in Old ...,review,AP6udBIStvWLY0T5rS_24A,"{u'funny': 0, u'useful': 3, u'cool': 1}"
2,3StNFdnfDPYWYsMZyvGFpA,2008-10-14,uK07iRbIYZnWhthCPl3KIg,5,"Absolutely divine crepes, very indulgent and y...",review,7QiZtwCBVytrdkHDMqhipw,"{u'funny': 0, u'useful': 1, u'cool': 0}"

In [29]:
# sort reviews segment 1 by restaurant
test = review_restaurant_1.groupby('business_id').count()
test = test.sort('date',ascending=0)
# sort reviews segment 2 by restaurant
test2 = review_restaurant_2.groupby('business_id').count()
test2 = test2.sort('date',ascending=0)

In [30]:
# notice that even if i pre-selected the restaurants with >100 reviews in the businesses json file,
# some of them have < 100 reviews in the reviews json file
test.tail()

                        date  review_id  stars  text  type  user_id  votes
business_id
ishjLG3Sc94ZOelXZZhaIw    89         89     89    89    89       89     89
tivpU-VNABjNlHZ_sMUDGw    89         89     89    89    89       89     89
OVtSFFNohXIz9vdWDvbnEw    87         87     87    87    87       87     87
VpSiOW1PapVmZyyRBK_GBQ    85         85     85    85    85       85     85
JtvwIwSl6rXVKacqP8avyw    85         85     85    85    85       85     85

In [31]:
test2.tail()

                        date  review_id  stars  text  type  user_id  votes
business_id
WGy_8cFLvOYIw4EvV2HXAg    77         77     77    77    77       77     77
l5geRDF0zXr6l9A-42z8qQ    74         74     74    74    74       74     74
4dIzmqGAhFIcuHfI8CySig    73         73     73    73    73       73     73
QbS8kEuBXfN6FN_JCuFLuw    71         71     71    71    71       71     71
QhwkFogGQA-Ar176Ul5PUQ    62         62     62    62    62       62     62

In [32]:
# review segment 1
# number of restaurants with >100 reviews, total number of reviews, mean number of reviews per restaurant
test['date'][test['date']>100].count(), test['date'][test['date']>100].sum(), test['date'][test['date']>100].mean()

(1263, 316034, 250.22486144101347)

In [33]:
# review segment 2
# number of restaurants with >100 reviews, total number of reviews, mean number of reviews per restaurant
test2['date'][test2['date']>100].count(), test2['date'][test2['date']>100].sum(),test2['date'][test2['date']>100].mean()

(1121, 259508, 231.49687778768956)

In [34]:
# get list of business ids with > 100 reviews in reviews json file
busid_1 = pd.DataFrame(test[test['date']>100].index.values, columns=['business_id'])
busid_2 = pd.DataFrame(test2[test2['date']>100].index.values, columns=['business_id'])

In [35]:
busid_1.head(3)

              business_id
0  4bEjOyTaDG24SY5TxsaUNQ
1  2e2e7WgqU1BnpxmQL5jbfw
2  YNQgak-ZLtYJQxlDwN-qIg

In [36]:
busid_2.head(3)

              business_id
0  zt1TpTuJ6y9n551sw9TaEg
1  Xhg93cMdemu5pAMkDoEdtQ
2  sIyHTizqAiGu12XMLX3N3g

In [37]:
len(busid_1), len(busid_2)

(1263, 1121)

### Extract and save businesses and reviews dataset

In [38]:
# extract the business info of all businesses in busid_1, busid_2
businesses_1 = pd.merge(busid_1,business_restaurant,how='inner',on='business_id')
businesses_2 = pd.merge(busid_2,business_restaurant,how='inner',on='business_id')

In [39]:
# extract the review info of all businesses in busid_1, busid_2
reviews_1 = pd.merge(busid_1,review_restaurant_1,how='inner',on='business_id')
reviews_2 = pd.merge(busid_2,review_restaurant_2,how='inner',on='business_id')

In [40]:
# join both segments into one df
businessid_final = pd.concat([busid_1, busid_2], ignore_index=True)
business_final = pd.concat([businesses_1, businesses_2], ignore_index=True)
review_final = pd.concat([reviews_1, reviews_2], ignore_index=True)
len(businessid_final), len(business_final), len(review_final)

(2384, 2384, 575542)

In [41]:
business_final.head(3)

,business_id,attributes,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,4bEjOyTaDG24SY5TxsaUNQ,"{u'Alcohol': u'full_bar', u'Open 24 Hours': Fa...","[Breakfast & Brunch, Steakhouses, French, Rest...",Las Vegas,"3655 Las Vegas Blvd S\nThe Strip\nLas Vegas, N...","{u'Monday': {u'close': u'23:00', u'open': u'07...",36.112952,-115.172589,Mon Ami Gabi,[The Strip],True,4578,4.0,NV,business
1,2e2e7WgqU1BnpxmQL5jbfw,"{u'Take-out': True, u'Accepts Credit Cards': T...","[Sandwiches, Restaurants]",Las Vegas,3667 Las Vegas Blvd. S.\nPlanet Hollywood Reso...,"{u'Monday': {u'close': u'00:00', u'open': u'00...",36.110266,-115.170553,Earl of Sandwich,[The Strip],True,3984,4.5,NV,business
2,YNQgak-ZLtYJQxlDwN-qIg,"{u'Alcohol': u'full_bar', u'Noise Level': u'av...","[Buffets, Restaurants]",Las Vegas,Wynn Las Vegas\n3131 Las Vegas Blvd S\nThe Str...,"{u'Monday': {u'close': u'22:00', u'open': u'08...",36.126887,-115.165590,The Buffet,[The Strip],True,2949,3.5,NV,business

In [43]:
review_final.head(3)

,business_id,date,review_id,stars,text,type,user_id,votes
0,4bEjOyTaDG24SY5TxsaUNQ,2005-06-23,UpKdXO3jEElnqtsWjYxQ2w,5,"Excellent food, great atmosphere, a bit noisy....",review,LAOHN2Z6INbwuGa3fx9UTw,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1,4bEjOyTaDG24SY5TxsaUNQ,2005-10-10,qYJV5kIViwer1P1Cb2OSfw,5,If you enjoy a little people watching with you...,review,H43f_rD3czq0UqY-4zhWjA,"{u'funny': 0, u'useful': 0, u'cool': 0}"
2,4bEjOyTaDG24SY5TxsaUNQ,2005-10-14,dvSLFLzijuT5HLRlmt5FaA,5,"affordable, fairly classic french food\n\nsit ...",review,ytjqLRFobRxl0DDJgoR-Eg,"{u'funny': 2, u'useful': 2, u'cool': 2}"

In [44]:
# find earliest and latest review date for each restaurant
mindate = review_final['date'].groupby([review_final['business_id']]).min()
maxdate = review_final['date'].groupby([review_final['business_id']]).max()
date_min_and_max = pd.concat([mindate, maxdate], 
                               axis=1, keys=['min', 'max'])
date_min_and_max.head(3)

                              min        max
business_id
--pOlFxITWnhzc7SHSIP0A 2013-03-18 2015-01-08
-1ERbsOf9XOC9wGbZYFr7g 2013-11-02 2014-12-29
-2n-OHbbwIv3SY8RP9bgTQ 2006-04-23 2015-01-04

In [45]:
# check that reviews are at least a month long
date_min_and_max['difference'] = date_min_and_max['max'] - date_min_and_max['min']
date_min_and_max.sort('difference').head(3)

                              min        max  difference
business_id
Ax2VRlmMuT1RsSvQHsOJTg 2014-10-15 2015-01-05     82 days
wmr3ROnBokPZXKZGLGLp8A 2014-10-09 2015-01-08     91 days
VgLiSW1iGkpzIEXOgvUBEw 2014-10-03 2015-01-08     97 days

In [47]:
# write final dfs as csv files
business_final.to_csv('business_final.csv', encoding='utf-8')
review_final.to_csv('review_final.csv', encoding='utf-8')

In [48]:
reviewtest = pd.read_csv('review_final.csv')

/Users/Francine/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [49]:
# not really sure why there's an additional column "unamed: 0", but i guess that can be easily removed
reviewtest.head(3)

,Unnamed: 0,business_id,date,review_id,stars,text,type,user_id,votes
0,0,4bEjOyTaDG24SY5TxsaUNQ,2005-06-23,UpKdXO3jEElnqtsWjYxQ2w,5,"Excellent food, great atmosphere, a bit noisy....",review,LAOHN2Z6INbwuGa3fx9UTw,"{u'funny': 0, u'useful': 0, u'cool': 0}"
1,1,4bEjOyTaDG24SY5TxsaUNQ,2005-10-10,qYJV5kIViwer1P1Cb2OSfw,5,If you enjoy a little people watching with you...,review,H43f_rD3czq0UqY-4zhWjA,"{u'funny': 0, u'useful': 0, u'cool': 0}"
2,2,4bEjOyTaDG24SY5TxsaUNQ,2005-10-14,dvSLFLzijuT5HLRlmt5FaA,5,"affordable, fairly classic french food\n\nsit ...",review,ytjqLRFobRxl0DDJgoR-Eg,"{u'funny': 2, u'useful': 2, u'cool': 2}"

In [50]:
businesstest = pd.read_csv('business_final.csv')

In [51]:
businesstest.head(3)

,Unnamed: 0,business_id,attributes,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,0,4bEjOyTaDG24SY5TxsaUNQ,"{u'Alcohol': u'full_bar', u'Open 24 Hours': Fa...","[Breakfast & Brunch, Steakhouses, French, Rest...",Las Vegas,"3655 Las Vegas Blvd S\nThe Strip\nLas Vegas, N...","{u'Monday': {u'close': u'23:00', u'open': u'07...",36.112952,-115.172589,Mon Ami Gabi,[The Strip],True,4578,4.0,NV,business
1,1,2e2e7WgqU1BnpxmQL5jbfw,"{u'Take-out': True, u'Accepts Credit Cards': T...","[Sandwiches, Restaurants]",Las Vegas,3667 Las Vegas Blvd. S.\nPlanet Hollywood Reso...,"{u'Monday': {u'close': u'00:00', u'open': u'00...",36.110266,-115.170553,Earl of Sandwich,[The Strip],True,3984,4.5,NV,business
2,2,YNQgak-ZLtYJQxlDwN-qIg,"{u'Alcohol': u'full_bar', u'Noise Level': u'av...","[Buffets, Restaurants]",Las Vegas,Wynn Las Vegas\n3131 Las Vegas Blvd S\nThe Str...,"{u'Monday': {u'close': u'22:00', u'open': u'08...",36.126887,-115.165590,The Buffet,[The Strip],True,2949,3.5,NV,business