In [1]:
import pandas as pd
import re
from sklearn.utils import shuffle

In [2]:
original = pd.read_csv("review_final_academic.csv", index_col = 0)
original.tail(2)

,business_id,date,review_id,stars,text,type,user_id,votes
122655,Fh2vlptKk8jyedzCDPbXbw,2011-07-04,B0DlRa0upq4RHGFUVWY6xQ,5,My daughter and I got the 2 meals for $30 whic...,review,7TmlplDISrIVy1QVuRcJyA,"{u'funny': 1, u'useful': 1, u'cool': 1}"
122656,Fh2vlptKk8jyedzCDPbXbw,2011-02-25,opL37nyZ2cTqkcN97rwXYA,4,OhhhMeeeGeee. I love the idea of bakery cafés ...,review,5ZxXCGvKBWfDZCKk-_FRNg,"{u'funny': 0, u'useful': 1, u'cool': 0}"

In [3]:
def decodeArray(text):
    try:
        return text.decode('utf-8','replace')
    except:
        return 0
    
print len(original)
original=original[pd.isnull(original.text) == False]
original.reset_index(inplace = True, drop = True)

text_decode = original.text.apply(decodeArray).values

original['text'] = text_decode
print len(original)
original.tail(1)

122657
122641

,business_id,date,review_id,stars,text,type,user_id,votes
122640,Fh2vlptKk8jyedzCDPbXbw,2011-02-25,opL37nyZ2cTqkcN97rwXYA,4,OhhhMeeeGeee. I love the idea of bakery cafés ...,review,5ZxXCGvKBWfDZCKk-_FRNg,"{u'funny': 0, u'useful': 1, u'cool': 0}"

In [4]:
def cleantext(text):
    text = re.sub("[^a-zA-Z]", " ", text).lower()  #This removes everything that isn't a letter
    return re.sub( '\s+', ' ', text).strip()  #This removes excess spaces

clean = original.text.apply(cleantext).values
original['clean'] = clean

In [5]:
#See!  Clean
print "Original: \n", original.text[0]
print "="*80, "\nCleaned: \n", original.clean[0]

Original:
Are you drunk? Is it around 3am? Are you in downtown Berkeley? Well then, you better head down to Top Dog, purveyor of quality dogs to drunken students for many a year. They have around, what, 25, 30 different kinds of meat dogs, and exactly 1 kind of veggie dog, called the "weenie". When I was there one time with my vegetarian friend, he naturally ordered the veggie option. When it was done, the owner shouts out: "One weenie, who's got the weenie here?" 40 drunken college students couldn't have been happier. Aah, the old ones are the best ones.
================================================================================
Cleaned:
are you drunk is it around am are you in downtown berkeley well then you better head down to top dog purveyor of quality dogs to drunken students for many a year they have around what different kinds of meat dogs and exactly kind of veggie dog called the weenie when i was there one time with my vegetarian friend he naturally ordered the veggie option when it was done the owner shouts out one weenie who s got the weenie here drunken college students couldn t have been happier aah the old ones are the best ones

In [6]:
extremerevnum = len(original[original.stars >4]) + len (original[original.stars <3])

print "The total # of extreme reviews is %d, equal to %d%% of total." % (extremerevnum,(extremerevnum*100.0)/len(original))

The total # of extreme reviews is 50700, equal to 41% of total.

In [7]:
high = pd.DataFrame(original[original.stars.isin([5])])
high.reset_index(inplace = True, drop = True)
high['score'] = 1
high.tail(1)

,business_id,date,review_id,stars,text,type,user_id,votes,clean,score
30907,Fh2vlptKk8jyedzCDPbXbw,2011-07-04,B0DlRa0upq4RHGFUVWY6xQ,5,My daughter and I got the 2 meals for $30 whic...,review,7TmlplDISrIVy1QVuRcJyA,"{u'funny': 1, u'useful': 1, u'cool': 1}",my daughter and i got the meals for which came...,1

In [8]:
low = pd.DataFrame(original[original.stars.isin([1,2])])
low.reset_index(inplace = True, drop = True)
low['score'] = 0
low.tail(1)

,business_id,date,review_id,stars,text,type,user_id,votes,clean,score
19791,Fh2vlptKk8jyedzCDPbXbw,2012-05-02,qZwOPwiM5-DP7qQNskImhA,1,This restaurant is getting a one star rating o...,review,0Y14aXmYAHptRTzzJOWUBg,"{u'funny': 0, u'useful': 1, u'cool': 0}",this restaurant is getting a one star rating o...,0

#Too many good reviews!
Solution:  Shuffle and drop some.

In [9]:
high_shuffle = shuffle(high)
high_shuffle.head(2)

,business_id,date,review_id,stars,text,type,user_id,votes,clean,score
22989,h_we4E3zofRTf4G0JTEF0A,2009-12-15,ZbdEwAsaFmXrqpggQhk8Rw,5,If you're looking for something different and ...,review,XljAAPbjkfCSWHkhxNnTiA,"{u'funny': 0, u'useful': 0, u'cool': 0}",if you re looking for something different and ...,1
8216,KK-6rXbIo9B4-b_P5WO5Qg,2012-07-21,Sgng1kL5KA-urdO2-sbnDA,5,My first visit to The Clay Pit was great. It ...,review,eooy2CjgVLGGOR_1IYmFfw,"{u'funny': 0, u'useful': 2, u'cool': 0}",my first visit to the clay pit was great it wa...,1

In [10]:
high_shuffle.reset_index(inplace = True, drop = True)
high_shuffle_trim = high_shuffle.loc[:19791]
high_shuffle_trim.tail(2)

,business_id,date,review_id,stars,text,type,user_id,votes,clean,score
19790,cEC3lx06tjhMOAomZnD1Sw,2010-11-09,-7FmHJIZHVgSm8hXTIQmVg,5,"This a great restaurant. Chill atmosphere, gr...",review,WCX6J8lkGorzxp852GxJng,"{u'funny': 0, u'useful': 0, u'cool': 0}",this a great restaurant chill atmosphere great...,1
19791,G0bkSEyElXerSXNy6P8BNQ,2010-05-15,FXF-wD6Yo3Xcz5OFs25lsg,5,"I know, I know, I said I don't give 5 stars ea...",review,iyikxBidfb6afxC-fmFWhA,"{u'funny': 2, u'useful': 2, u'cool': 2}",i know i know i said i don t give stars easily...,1

Great!  We've wittled them down to be exactly the same length.
Now, recombine the reviews.

In [11]:
extreme = high_shuffle_trim.append(low)
extreme.reset_index(inplace = True, drop = True)

In [12]:
extreme.head(1)

,business_id,date,review_id,stars,text,type,user_id,votes,clean,score
0,h_we4E3zofRTf4G0JTEF0A,2009-12-15,ZbdEwAsaFmXrqpggQhk8Rw,5,If you're looking for something different and ...,review,XljAAPbjkfCSWHkhxNnTiA,"{u'funny': 0, u'useful': 0, u'cool': 0}",if you re looking for something different and ...,1

In [13]:
extreme.tail(1)

,business_id,date,review_id,stars,text,type,user_id,votes,clean,score
39583,Fh2vlptKk8jyedzCDPbXbw,2012-05-02,qZwOPwiM5-DP7qQNskImhA,1,This restaurant is getting a one star rating o...,review,0Y14aXmYAHptRTzzJOWUBg,"{u'funny': 0, u'useful': 1, u'cool': 0}",this restaurant is getting a one star rating o...,0

In [18]:
extreme.to_csv("yelp_academic_extreme_cleaned_20150730.csv", encoding = 'utf-8')

In [19]:
from __future__ import print_function
import pandas as pd
import math

from pprint import pprint
from time import time
import logging

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.grid_search import GridSearchCV
from sklearn.pipeline import Pipeline

In [20]:
logging.basicConfig(level=logging.INFO,
                    format='%(asctime)s %(levelname)s %(message)s')


###############################################################################
# define a pipeline combining a text feature extractor with a simple
# classifier
pipeline = Pipeline([
    ('vect', CountVectorizer()),
    ('clf', LogisticRegression()),
])
#    ('tfidf', TfidfTransformer()),
parameters = {
    'vect__max_df': (0.9, 1.0),
    'vect__stop_words': (None, 'english'),
    'vect__max_features': (None, 5000, 10000, 50000),
    'vect__ngram_range': ((1, 2), (1, 3)),  # unigrams or bigrams
    #'tfidf__use_idf': (True, False),
    #'tfidf__norm': ('l1', 'l2'),
    'clf__penalty': ('l2', 'l1')
    #'clf__n_iter': (10, 50, 80),
}

In [21]:
X = extreme.clean
y = extreme.score

In [24]:
# find the best parameters for both the feature extraction and the
# classifier
grid_search = GridSearchCV(pipeline, parameters, n_jobs=-1, verbose=1)

print("Performing grid search...")
print("pipeline:", [name for name, _ in pipeline.steps])
print("parameters:")
pprint(parameters)
t0 = time()
grid_search.fit(X, y)
print("done in %0.3fs" % (time() - t0))
print()

Performing grid search...
pipeline: ['vect', 'clf']
parameters:
{'clf__penalty': ('l2', 'l1'),
 'vect__max_df': (0.9, 1.0),
 'vect__max_features': (None, 5000, 10000, 50000),
 'vect__ngram_range': ((1, 2), (1, 3)),
 'vect__stop_words': (None, 'english')}
done in 0.000s

In [25]:
print("Best score: %0.3f" % grid_search.best_score_)
print("Best parameters set:")
best_parameters = grid_search.best_estimator_.get_params()
for param_name in sorted(parameters.keys()):
    print("\t%s: %r" % (param_name, best_parameters[param_name]))
print(grid_search.best_estimator_.predict_proba(["the food was amazing"]))
print(grid_search.best_estimator_.predict_proba(["the food was delicious"]))
print(grid_search.best_estimator_.predict_proba(["the food was not delicious at all"]))

Best score: 0.943
Best parameters set:
	clf__penalty: 'l2'
	vect__max_df: 1.0
	vect__max_features: 50000
	vect__ngram_range: (1, 3)
	vect__stop_words: None
[[ 0.0850266  0.9149734]]
[[ 0.14044718  0.85955282]]
[[ 0.68818321  0.31181679]]

Now add those determined bits into it, and try the LR settings.

In [27]:
from sklearn.cross_validation import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [28]:
#This is what it recommended last time...(different positive review shuffling)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=4)

vectorizer = CountVectorizer(max_df = 0.9)
X_train_vectorized = vectorizer.fit_transform(X_train).toarray()

logreg = LogisticRegression()
logreg.fit(X_train_vectorized,y_train)

y_pred = logreg.predict(vectorizer.transform(X_test).toarray())
print (metrics.accuracy_score(y_test, y_pred))

0.931891673403

In [29]:
#And here is now
vectorizer = CountVectorizer(max_features = 50000, ngram_range = (1, 3))
X_train_vectorized = vectorizer.fit_transform(X_train).toarray()

logreg = LogisticRegression()
logreg.fit(X_train_vectorized,y_train)

y_pred = logreg.predict(vectorizer.transform(X_test).toarray())
print (metrics.accuracy_score(y_test, y_pred))

0.948362974939

These are better than 0.920978172999, when I didn't run it with tuning... but not so very different...

In [30]:
#Great!  Double check adding in TFIDF now.

from sklearn.feature_extraction.text import TfidfTransformer

tfidf = TfidfTransformer()
X_train_tfidf = tfidf.fit_transform(X_train_vectorized)

logreg.fit(X_train_tfidf,y_train)

y_pred = logreg.predict(vectorizer.transform(X_test).toarray())

print (metrics.accuracy_score(y_test, y_pred))

0.909660468876

TDIDF seems to be crummy EVERY TIME.  Let's skip it.
#NOW FOR THE FINAL REGRESSION

In [31]:
#Final is on FULL X.
vectorizer = CountVectorizer(max_features = 50000, ngram_range = (1, 3))
logreg = LogisticRegression()

X_vectorized = vectorizer.fit_transform(X).toarray()
logreg.fit(X_vectorized,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr',
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0)

In [33]:
#This is meaningless, since the FINAL regression was trained on these test data too,
#but let's just confirm it approaches 100%.
y_pred = logreg.predict(vectorizer.transform(X_test).toarray())

print (metrics.accuracy_score(y_test, y_pred))

0.999494745352

In [35]:
#The above looks great.  Let's export it!
from sklearn.externals import joblib
joblib.dump(vectorizer, 'pickle/vectorizer_thursday.pkl')
joblib.dump(logreg, 'pickle/logreg_thursday.pkl')

['pickle/logreg_thursday.pkl',
 'pickle/logreg_thursday.pkl_01.npy',
 'pickle/logreg_thursday.pkl_02.npy',
 'pickle/logreg_thursday.pkl_03.npy']